PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/slg_luxury_pg
JWT_SECRET=slg_super_secure_jwt_secret_dev_2026_ladies_pg_kphb
JWT_EXPIRES_IN=30d
CLIENT_URL=*
HOSTEL_NAME=SLG Luxury Ladies PG
HOSTEL_CITY=Hyderabad
HOSTEL_LOCALITY=KPHB / Kukatpally
HOSTEL_STATE=Telangana
