# For Android Emulator use http://10.0.2.2:5000/api
# For Local Web/Desktop use http://127.0.0.1:5000/api
# For Physical Android Device on same Wi-Fi, use your PC LAN IP (e.g. http://192.168.1.X:5000/api)
EXPO_PUBLIC_API_URL=http://10.0.2.2:5000/api
EXPO_PUBLIC_HOSTEL_NAME=SLG Luxury Ladies PG
EXPO_PUBLIC_HOSTEL_LOCATION=KPHB / Kukatpally, Hyderabad, Telangana
